/** 
 * usa_map.less for map appearing in About Us section
 */
#regioncontainer p,
#territorycontainer p {
  margin: 0;
}
#regioncontainer .region-info,
#territorycontainer .region-info,
#regioncontainer .territory-info,
#territorycontainer .territory-info {
  display: none;
  padding: 0;
}
#regioncontainer .region-info span img,
#territorycontainer .region-info span img,
#regioncontainer .territory-info span img,
#territorycontainer .territory-info span img {
  width: 30px;
}
#map_base svg {
  width: 100%;
  height: 600px;
  border: 1px solid #eee;
  overflow: visible;
  padding-top: 3.4rem;
}
#map_base svg .region-point {
  display: none;
}
#mapwrapper button {
  width: 25%;
  font-weight: bold;
  position: relative;
}
#mapwrapper button.view-all {
  color: #592c81;
  background-color: #ccc;
  top: 20px;
}
#mapwrapper button.territories {
  color: #FFF;
  background-color: #592c81;
  top: -40px;
  font-weight: normal;
}
#mapwrapper button.active {
  background-color: #881A77;
}